{% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/menu.css') }}">
        <link rel="stylesheet" href="css/sliding-carousel.css" />
        <!--<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">-->

		 <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<link rel="stylesheet" href="{{ asset('css/music-list.css') }}">
        {% endblock %}
{% block body %}
<!--content-->
<div class="page_content">
<h1 class="page_title">
	<div class="logo">
	 	<a href="{{ path('userhomepag' ) }}"><img class="logo" src="../image/logo_blanc.png"></a> 
	</div>
	<!--input serch-->
    <div id="custom-search-input">
            <div class="input-group col-md-12">
               <input type="text" class="form-control input-lg" id="search" placeholder="Rechercher..." />
                <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                 <i class="glyphicon glyphicon-search"></i>
                </button>
             </span>
         </div>
    </div>

    <!-- profile user -->
    <div class="profile">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul>
     	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <img src="{{ asset('image/bg.jpg') }}" alt="..." class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      </ul>
     </div>
    </div>

	<!--Carousel music-->
	<div id="carousel">
	<h3>Nouveautés</h3>

			{% for music in listMusic %}

				<div class="slide">
					<p>
						<a href="#"> <img style="height:253px; width:253px" alt="Image Caption" src="http://soundbuzz.fr/uploads/images_sons/bloggif_5b3a18741d32b.jpeg" /> </a>
						<span>{{ music.titre }}</span>
					</p>
				</div>

			{% endfor %}
				
				<div class="navigate-left"><img src="{{ asset('image/slider/arrow-left.png') }}" /></div>
				<div class="navigate-right"><img src="{{ asset('image/slider/arrow-right.png') }}" /></div>
		</div>

<!--music list-->


<div class="container">




    <h4 class="title-music"> <i class="fa fa-music" style="font-size:24px;color:red"></i> <b>NOS MORCEAUX</b></h4>
	<div class="row">


  {% for music in listMusic %}

    
  
		<div class="col-sm-3">
		    
        <!--Card-->
        <div class="card">

            <!--Card image-->
            <img class="img-responsive" style="height:253px" src="http://soundbuzz.fr/uploads/images_sons/{{ music.getPhoto.getUrl }}" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title"><b>{{ music.titre }}</b></h4>
                <!--Text-->
                <p class="card-text"><i>Ajouté par <a href="{{ path('profile_others', {'id': music.getUser.getId } ) }}">{{ music.getUser.username }}</a> </i></p>
                <a href="{{ path('music_play', {'id': music.id } ) }}" class="btn btn-primary">Jouer</a> 
                <a href="{{ path('playlist_choix', {'id_music': music.id } ) }}" class="btn btn-primary">Ajouter à une playlist</a>
            </div>
          </div>
        
<!--/.Card-->
			</div>

      {% endfor %}

	</div>
</div>    



<!--playlist list-->


<div class="container">




    <h4 class="title-music"> <i class="fa fa-list" style="font-size:24px;color:red"></i> <b>NOS PLAYLISTS</b></h4>
	<div class="row">

      {% for playlist in playlistList %}
  
  <a href="{{ path('playlist_view', {'id': playlist.id } ) }}">
		
      <div class="col-sm-3">
		    
        <!--Card-->
        <div class="card">

            <!--Card image-->
            <img class="img-responsive" style="height:253px" src=# alt="Card image cap">
      </a>
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title"><b>{{ playlist.nom }}</b></h4> </i>
                <!--Text-->
                <p class="card-text"><i>Ajouté par <a href="{{ path('profile_others', {'id': playlist.getUser.getId } ) }}">{{ playlist.getUser.username }}</a> </i></p>
                <a href="{{ path('playlist_play', {'id': playlist.id } ) }}" class="btn btn-primary">Jouer</a> 
            </div>
          </div>
        
<!--/.Card-->
			</div>

  
      {% endfor %}


	</div>
</div>            




<!--genres-->


<div class="container">




    <h4 class="title-music"> <i class="fa fa-folder-open" style="font-size:24px;color:red"></i> <b>NOS GENRES</b></h4>
	<div class="row">

      {% for playlist in playlistList %}
  
  <a href="{{ path('playlist_view', {'id': playlist.id } ) }}">
		
      <div class="col-sm-3">
		    
        <!--Card-->
        <div class="card">

            <!--Card image-->
            <img class="img-responsive" style="height:253px" src=# alt="Card image cap">
      </a>
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title"></h4> </i>
                <!--Text-->
                <p class="card-text"></p>
        
            </div>
          </div>
        
<!--/.Card-->
			</div>

  
      {% endfor %}


	</div>
</div>            


<!--menu side-->
<h4 class="what_to_do">.</h4>

<div class="side_menu">
	<div class="burger_box">
		<div class="menu-icon-container">
			<a href="#" class="menu-icon js-menu_toggle closed">
				<span class="menu-icon_box">
					<span class="menu-icon_line menu-icon_line--1"></span>
					<span class="menu-icon_line menu-icon_line--2"></span>
					<span class="menu-icon_line menu-icon_line--3"></span>
				</span>
			</a>
		</div>
	</div>
	<div class="container">
		<h2 class="menu_title">Menu</h2>
		<ul class="list_load">
			<li class="list_item"><a href="{{ path('music_list' ) }}">Musiques</a></li>
			<li class="list_item"><a href="{{ path('playlist_list' ) }}">Playlists</a></li>
			<li class="list_item"><a href="{{ path('fos_user_profile_show' ) }}">Profil</a></li>

		</ul>
		<!--iv class="spacer_box"><p>This is a spacer box.</p></div-->
	</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="js/jquery-1.7.min.js" type="text/javascript"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/menu.js') }}"></script>
            <script src="js/carousel/jquery-slidingCarousel.js" type="text/javascript"></script>

            <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
            
            <!--<script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>-->
        <script type="text/javascript">
        $(document).ready(function() {
            var carousel = $("#carousel").slidingCarousel({
                squeeze: 100
            });
        });
        </script>
        {% endblock %}