{% trans_default_domain 'FOSUserBundle' %}
 <div class="wrapper_login">
        <div class="container">
          <!-- Content here -->
          <div class="login">
		<img class="logo" src="../image/logo_blanc.png">
		{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		<div class="form-group">
		    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email' } }) }}
		</div>
		<div class="form-group">
		    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nom utilisateur' } }) }}
		</div>
		<div class="form-group">
		    {{ form_widget(form.plainPassword, {'attr': {'placeholder': 'Mot de Passe' } }) }}
		</div>
		<div class="form-group">
		    {{ form_widget(form.birthday) }}
		</div>
		<div>
		    <input type="submit" class="btn" value="{{ 'registration.submit'|trans }}" />
		</div>
		<small id="emailHelp" class="form-text text-muted">Vous avez dèjà un compte chez nous ? <a href="{{ path('fos_user_security_login') }}">Se connecter</a></small>

<<<<<<< HEAD
<link rel="stylesheet" href="{{ asset('css/login.css') }}">


<div style="color:white;" class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>

<form class="form-signin" action="{{ path("fos_user_registration_register") }}" method="post">

    <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="AOvWmb0ZJunLpTGZuukYfkaU8Q_W4mSFMh3gPckGR1c">

    <span id="reauth-email" class="reauth-email"></span>

    <!--label for="username">{{ 'security.login.username'|trans }}</label-->
    <input type="text" id="inputEmail" class="form-control" name="fos_user_registration_form[email]"  required="required" placeholder="Adresse E-mail" />

    <input type="text" id="inputUsername" class="form-control" name="fos_user_registration_form[username]"  required="required" placeholder="Nom d'utilisateur" maxlength="180" pattern=".{2,}"/>

    <!--label for="password">{{ 'security.login.password'|trans }}</label-->
    <input type="password" id="fos_user_registration_form_plainPassword_first" class="form-control" name="fos_user_registration_form[plainPassword][first]" required="required" placeholder="Mot de passe" />

    <input type="password" id="fos_user_registration_form_plainPassword_second" class="form-control" name="fos_user_registration_form[plainPassword][second]" required="required" placeholder="Répétez le mot de passe" />


    <!--input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label-->

     <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin" name="_submit"  > {{ 'registration.submit'|trans }}  </button>


</form>


</div>
</div>



=======
			  <hr>
		<small id="emailHelp" class="form-text text-muted">Ou vous pouvez vous isncrire via votre réseau social</small>
		<button type="submit" class="btn facebook">S'inscrire avec Facebook</button>

		{{ form_end(form) }}

	</div><!--login-->
	</div><!--container-->
</div><!--<wrapper-->
>>>>>>> dev2
