{% extends 'base.html.twig' %}



{% block body %}

<div class="container">
    <div class="column add-bottom">
        <div id="mainwrap">
            <div id="nowPlay">
                <span class="left" id="npAction">Paused...</span>
                <span class="right" id="npTitle"></span>
            </div>
            <div id="audiowrap">
                <div id="audio0">
                    <audio preload id="audio1" controls="controls" controlsList="nodownload" >Your browser does not support HTML5 Audio!</audio>
                    {% if playMusic.getTelechargeable == 1 %}  <a href="http://soundbuzz.fr/uploads/sons/{{ playMusic.getMorceau.getUrl }}" download > Télécharger </a> {% endif %}
                </div>
                <div id="tracks">
                    <a id="btnPrev">&larr;</a>
                    <a id="btnNext">&rarr;</a>
                </div>
            </div>
           
        </div>
        <a class="ajax" href="{{ path('music_like', {'id': playMusic.id } ) }}">J'aime</a> <b id="ajax-results">{{ playMusic.score}}</b>
        <b id="ecoute-results" href="#">{{ playMusic.ecoute }} </b> écoute(s)
        <b id="download-results" href="#">{{ playMusic.download }} </b> téléchargement(s)

        

        <a href="https://www.facebook.com/sharer/sharer.php?u=http://soundbuzz.fr/uploads/sons/{{ playMusic.getMorceau.getUrl }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"> Partager
        </a>

        


    </div>
    
</div>

    <script>
    
        $(document).on('click', 'a.ajax', function(){
            that = $(this);
            $.ajax({
                url:'{{ path('music_like', {'id': playMusic.id } ) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "some_var_name": "some_var_value"
                },
                async: true,
                success: function (data)
                {
                    //console.log(data)
                    $('b#ajax-results').html(data.output);

                }
            });
            return false;

        });



         $('#audio1').on('playing', function(){
            that = $(this);
            $.ajax({
                url:'{{ path('music_ecoute', {'id': playMusic.id } ) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "some_var_name": "some_var_value"
                },
                async: true,
                success: function (data)
                {
                    //console.log(data)
                    $('b#ecoute-results').html(data.output);

                }
            });
            return false;

        });

        
        $(document).on('click', 'a#download', function(){
        that = $(this);
        $.ajax({
            url:'{{ path('music_download', {'id': playMusic.id } ) }}',
            type: "POST",
            dataType: "json",
            data: {
                "some_var_name": "some_var_value"
            },
            async: true,
            success: function (data)
            {
                //console.log(data)
                $("#download").attr("download","value want to set");
                $('b#download-results').html(data.output);

            }
        });
        return false;

    });



        
    </script>


{% include '@FOSComment/Thread/async.html.twig' with {'id': playMusic.id} %}

<script>

    jQuery(function ($) {
    'use strict'
    var supportsAudio = !!document.createElement('audio').canPlayType;
    if (supportsAudio) {
        var index = 0,
            playing = false,
            mediaPath = "http://soundbuzz.fr/uploads/sons/",
            extension = '',
            tracks = [{
                "track": {{ playMusic.id }},
                "name": "{{ playMusic.getMorceau.getUrl }}",
                "duration": "2:46",
                "file": "{{ playMusic.getMorceau.getUrl }}"
            }],
            buildPlaylist = $(tracks).each(function(key, value) {
                var trackNumber = value.track,
                    trackName = value.name,
                    trackDuration = value.duration;
                if (trackNumber.toString().length === 1) {
                    trackNumber = '0' + trackNumber;
                }
                $('#plList').append('<li><div class="plItem"><span class="plNum">' + trackNumber + '.</span><span class="plTitle">' + trackName + '</span><span class="plLength">' + trackDuration + '</span></div></li>');
            }),
            trackCount = tracks.length,
            npAction = $('#npAction'),
            npTitle = $('#npTitle'),
            audio = $('#audio1').on('play', function () {
                playing = true;
                npAction.text('Now Playing...');
            }).on('pause', function () {
                playing = false;
                npAction.text('Paused...');
            }).on('ended', function () {
                npAction.text('Paused...');
                if ((index + 1) < trackCount) {
                    index++;
                    loadTrack(index);
                    audio.play();
                } else {
                    audio.pause();
                    index = 0;
                    loadTrack(index);
                }
            }).get(0),
            btnPrev = $('#btnPrev').on('click', function () {
                if ((index - 1) > -1) {
                    index--;
                    loadTrack(index);
                    if (playing) {
                        audio.play();
                    }
                } else {
                    audio.pause();
                    index = 0;
                    loadTrack(index);
                }
            }),
            btnNext = $('#btnNext').on('click', function () {
                if ((index + 1) < trackCount) {
                    index++;
                    loadTrack(index);
                    if (playing) {
                        audio.play();
                    }
                } else {
                    audio.pause();
                    index = 0;
                    loadTrack(index);
                }
            }),
            li = $('#plList li').on('click', function () {
                var id = parseInt($(this).index());
                if (id !== index) {
                    playTrack(id);
                }
            }),
            loadTrack = function (id) {
                $('.plSel').removeClass('plSel');
                $('#plList li:eq(' + id + ')').addClass('plSel');
                npTitle.text(tracks[id].name);
                index = id;
                audio.src = mediaPath + tracks[id].file /*+ extension*/;
            },
            playTrack = function (id) {
                loadTrack(id);
                audio.play();
            };
        extension = audio.canPlayType('audio/mpeg') ? '.mp3' : audio.canPlayType('audio/ogg') ? '.ogg' : '';
        loadTrack(index);
    }
});

</script>





{% endblock %}





 