{% trans_default_domain 'FOSUserBundle' %}
            <!--logo-->
            <img class="logo" src="../image/logo_blanc.png">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <!--<label for="username">{{ 'security.login.username'|trans }}</label>-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Adress mail ou Nom utilisateur" />
                    </div>

                    <!--<label for="password">{{ 'security.login.password'|trans }}</label>-->
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Mot de passe" />
                    </div>

                     <div class="form-group form-check">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" />
                            <label class="form-check-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <div class="col-md-6"> 
                            <small id="emailHelp" class="form-text text-muted"><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></small>
                        </div>
                    </div>
                  </div>

                    <input type="submit" class="btn" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    <small id="emailHelp" class="form-text text-muted">Vous n'avez pas encore un compte ?
                        <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></small>

                  <hr>
                  <small id="emailHelp" class="form-text text-muted">Ou vous pouvez vous connecter via votre réseau social</small>
                  <button type="submit" class="btn facebook">Se connecter avec Facebook</button>
                  <button type="submit" class="btn twitter">Se connecter avec Twitter</button>
            </form>
    
{% if error %}
    <div style="color:white;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

</div>
</div>

