<!-- footer -->

<footer class="footer">
  <div class="container">
   <div class="row">
      <div class="col">
        <img src="{{ asset('image/logo_blanc2.png') }}" alt="SoundBuzz">
        <div class="social_media">
          <img src="{{ asset('image/facebook.png') }}">
          <img src="{{ asset('image/instagram.png') }}">
          <img src="{{ asset('image/twitter.png') }}">
           <img src="{{ asset('image/youtube-symbol.png') }}">
        </div>
      </div>
      <div class="col">
        <h6>SOUNDBUUZ</h6>
        <ul>
          <li>Offres</li>
          <li>Fonctionnalités</li>
          <li>Explorer tout nos univers</li>
          <li>Appareils</li>
          <li>Blog</li>
          <li>Aide</li>
        </ul>
      </div>
      <div class="col">
         <h6>QUI SOMMES-NOUS ?</h6>
        <ul>
          <li>à propos</li>
          <li>Carrières</li>
        </ul>
      </div>
      <div class="col">
        <h6>LEGAL</h6>
        <ul>
          <li>Conditions générales d’utilisation</li>
          <li>Données Personnelles et cookies</li>
          <li>Mentions légales</li>
          <li>Paramêtres de confidentialité</li>
        </ul>
      </div>
   </div>
   <div class="copyright">
     <p>©2018 SoundBuzz International, Inc. Tous droits réservés</p>
   </div>
   </div>
</footer>