<!--genres-->


<div class="container genre">
<h4>GENRES ET AMBIANCES</h4>
  <div class="row">
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_03.jpg') }}"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_05.jpg') }}"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_07.jpg') }}"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_09.jpg') }}"></div>
    <div class="w-100"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_11.jpg') }}"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_23.jpg') }}"></div>
     <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_24.jpg') }}"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_27.jpg') }}"></div>
    <div class="w-100"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_29.jpg') }}"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_32.jpg') }}"></div>
     <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_33.jpg') }}"></div>
    <div class="col"><img src="{{ asset('../image/images-genres/maquette-website-new_42.jpg') }}"></div>
  </div>
</div> 