<!--menu side-->

<h4 class="what_to_do">.</h4>

<div class="side_menu">
	<div class="burger_box">
		<div class="menu-icon-container">
			<a href="#" class="menu-icon js-menu_toggle closed">
				<span class="menu-icon_box">
					<span class="menu-icon_line menu-icon_line--1"></span>
					<span class="menu-icon_line menu-icon_line--2"></span>
					<span class="menu-icon_line menu-icon_line--3"></span>
				</span>
			</a>
		</div>
	</div>
	<div class="container">
		<h2 class="menu_title">Menu</h2>
		<ul class="list_load">
					<li class="list_item"><a href="{{ path('music_list' ) }}">Musiques</a></li>
					<li class="list_item"><a href="{{ path('playlist_list' ) }}">Playlists</a></li>
					<li class="list_item"><a href="{{ path('fos_user_profile_show' ) }}">Profil</a></li>
					<li class="list_item"><a href="{{ path('music_add' ) }}">Ajouter une Musique</a></li>
					<li class="list_item"><a href="{{ path('playlist_add' ) }}">Ajouter une Playlist</a></li>

			<li class="list_item"><a href="{{ path('fos_user_security_logout' ) }}">Déconnexion</a></li>
		</ul>
		<!--div class="spacer_box"><p>This is a spacer box.</p></div-->
	</div>
</div>
</div>