<!--playlist list-->

<div class="container">

    <h4 class="title-music"> <i class="fa fa-list" style="font-size:24px;color:red"></i> <b>NOS PLAYLISTS</b></h4>
	<div class="row">

      {% for playlist in playlistList %}
  
        <a href="{{ path('playlist_view', {'id': playlist.id } ) }}">
		
            <div class="col-sm-3">
		    
                <!--Card-->
                <div class="card">

            <!--Card image-->
            <img class="img-responsive" style="height:253px" src="http://soundbuzz.fr/uploads/images_sons/{{ playlist.getMusics[0].getPhoto.getUrl }}" alt="Card image cap">
        </a>
            
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title"><b>{{ playlist.nom }}</b></h4> </i>
                <!--Text-->
                <p class="card-text"><i>Ajouté par <a href="{{ path('profile_others', {'id': playlist.getUser.getId } ) }}">{{ playlist.getUser.username }}</a> </i></p>
                <a href="{{ path('playlist_play', {'id': playlist.id } ) }}" class="btn btn-primary">Jouer</a> 
            </div>
          </div>
        
<!--/.Card-->
			</div>

  
      {% endfor %}


	</div>
</div>            
